@font-face {
    font-family:happySchool;
    src:url(fonts/Happy\ School.otf);
}

body{
    background-color: #292929;
    color: #8a8a8a;
    display:flex;
    flex-direction:column;
    align-items:center;
    font-family:happySchool;
}

.header{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-color: #303030;
    width:100%;
    border-radius:5px;
    border:10px;
}

#cool_header{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    border:10px;
}

.main{
    border:10px;
}

.link{
    color:#3d3dec;
}

@keyframes bouncyLetters{
    0%, 100% {
        transform:translateY(0px)
    }
    25% {
        transform:translateY(5px)
    }
    75% {
        transform:translateY(-5px)
    }
}

.bouncy span{
    animation: bouncyLetters 1.5s infinite linear;
    color:#5bffc8;
    display:inline-block;
}

.bouncy span:nth-child(1){
    animation-delay:0s;
}
.bouncy span:nth-child(2){
    animation-delay:0.1s;
}
.bouncy span:nth-child(3){
    animation-delay:0.2s;
}
.bouncy span:nth-child(4){
    animation-delay:0.3s;
}
.bouncy span:nth-child(5){
    animation-delay:0.4s;
}
.bouncy span:nth-child(6){
    animation-delay:0.5s;
}
.bouncy span:nth-child(7){
    animation-delay:0.6s;
}
.bouncy span:nth-child(8){
    animation-delay:0.7s;
}
.bouncy span:nth-child(9){
    animation-delay:0.9s;
}
.bouncy span:nth-child(10){
    animation-delay:1s;
}
.bouncy span:nth-child(11){
    animation-delay:1.1s;
}
.bouncy span:nth-child(12){
    animation-delay:1.2s;
}